<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/global.css">
        <title>Home</title>
    </head>
    <body>
        <h1 style="font-size: 40px; color: white;">Welcome to the SSBM Match Result Database</h1>
        <h2 style="color: white;">Choose: <button><a href="/search"><u>Search</u></a></button> or <button><a href="/insert"><u>Insert</u></a></button></h3>
    </body>
</html>