<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/global.css">
        <title>Search</title>
    </head>
    <body>
        <button class="back"><a href="/">Back</a></button>
        <h1 class="title">Search for Entries</h1>

        <form action="/search-submit" method="POST" onsubmit="clearFields()">
            <label for="searchID">ID:</label><br>
            <input type="number" name="searchID" id="searchID"><br>
            

            <label for="searchTournament">Tournament:</label><br>
            <input type="text" name="searchTournament" id="searchTournament"><br>
            

            <label for="searchPlayer1">Player 1:</label><br>
            <input type="text" name="searchPlayer1" id="searchPlayer1"><br>
            

            <label for="searchPlayer2">Player 2:</label><br>
            <input type="text" name="searchPlayer2" id="searchPlayer2"><br>
            

            <label for="searchScore">Score:</label><br>
            <select name="searchScore" id="searchScore">
                <option value="*">Any</option>
                <option value="3-0">3-0</option>
                <option value="3-1">3-1</option>
                <option value="3-2">3-2</option>
                <option value="2-0">2-0</option>
                <option value="2-1">2-1</option>
            </select><br>
            

            <label for="searchWinner">Winner:</label><br>
            <input type="text" name="searchWinner" id="searchWinner"><br>
            

            <label for="searchBracket">Bracket:</label><br>
            <select name="searchBracket" id="searchBracket">
                <option value="*">Any</option>
                <option value="R1P">R1 Pools</option>
                <option value="R2P">R2 Pools</option>
                <option value="64W">Winners Top 64</option>
                <option value="64L">Losers Top 64</option>
                <option value="QFW">Winners Quarter-Finals</option>
                <option value="QFL">Losers Quarter-Finals</option>
                <option value="SFW">Winners Semi-Finals</option>
                <option value="SFL">Losers Semi-Finals</option>
                <option value="FW">Winners Finals</option>
                <option value="FL">Losers Finals</option>
                <option value="GF">Grand Finals</option>
                <option value="GFR">Grand Finals Reset</option>
            </select><br>

            <input type="submit" class="submit" value="Search">
        </form>

        <br><br><br>

        <table>
            <th>Match ID</th>
            <th>Tournament</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Score</th>
            <th>Winner</th>
            <th>Bracket</th>
            {% for match in data %}
                <tr>
                    <td>{{ match[0] }}</td>
                    <td>{{ match[1] }}</td>
                    <td>{{ match[2] }}</td>
                    <td>{{ match[3] }}</td>
                    <td>{{ match[4] }}</td>
                    <td>{{ match[5] }}</td>
                    <td>{{ match[6] }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>